name: Continuous Delivery

on:
  push:
     branches: [ main ]
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push App Image
        env:
          IMAGE: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/whoknows_variations
        run: |
          # Build the app using the repository Dockerfile and push latest + sha tags
          docker buildx build \
            --file ./Dockerfile \
            --tag ${IMAGE}:latest \
            --tag ${IMAGE}:${{ github.sha }} \
            --platform linux/amd64 \
            --push .

      - name: Images pushed
        run: |
          echo "App image: ghcr.io/${{ github.repository_owner }}/whoknows_variations:latest"
